body{ 
    font-family: 'Roboto Condensed', sans-serif;
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

a{
    color:black;
}

section {
    margin: 1rem;
    padding: 2rem;
    background-color: turquoise;
    border-radius: 2em;
    color: black;
}

.h1 {
    text-align: center;
    font-size: 80px;
    color :black;
    border-style : ;
    padding-top : ;
    padding-bottom : ;
    padding-left: ;
    background-color : ;     
}
.h3 {
    font-size: 60px;
    color: black
}
.abc{
    color: brown;
}

.footer{
    color: red;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 2em;
    grid-column-start: col-start 2;
  }

#img-circle{
    -ms-ime-align: center;
    width: 23rem;
    height: 23rem;
    margin: 1rem;
    align-content: center;
   
}

#profile{
    background-color: transparent;
}

#video {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-top: -1em;
}

#links {
    font-size: 15px
    grid-column-start: 1;
    grid-row-start: 1;